<nav class="navbar bg-light navbar-expand-lg fixed-top" *ngIf="user.mail">
    <a id="web-header" class="navbar-brand" href="#" style="max-width: 212px;">
        <div *ngIf="user.orga_img_url.includes('https')">
            <span><img src="{{user.orga_img_url ? user.orga_img_url : 'assets/images/orga.png'}}" style="height: 40px;" class="img-fluid" /></span>
        </div>
        <div *ngIf="!user.orga_img_url.includes('https')">
            <span><i class="fa fa-2x fa-industry"></i></span>
        </div>
    </a>
    <div id="mobile-header" class="navbar-brand" style="max-width: 341px;">
        <div *ngIf="user.orga_img_url.includes('https')" class="width-img">
            <img src="{{user.orga_img_url ? user.orga_img_url : 'assets/images/orga.png'}}" style="height: 40px;" class="img-fluid" />
        </div>

        <div *ngIf="!user.orga_img_url.includes('https')" class="width-img">
            <span><i class="fa fa-2x fa-industry"></i></span>
        </div>
        <div class="user row user-row">
            <div class="marg-img">
                <div *ngIf="user.img_url.includes('https')" (click)="checkProfil()">
                    <img src="{{user.img_url ? user.img_url : 'assets/images/orga.png'}}" class="img-fluid on-focus img-user" />
                </div>
                <div *ngIf="!user.img_url.includes('https')" (click)="checkProfil()">
                    <span class="on-focus"><i class="fa fa-2x fa-user" style="color:#616161;"></i></span>
                </div>
                <div class="profil-user" *ngIf="hide_profil" (click)="checkProfil()">
                    <div class="nom2">{{user.prenom + ' '+ user.nom}}</div>
                    <div class="connexion2">{{ user.poste | slice:0:20}}</div>
                </div>
            </div>
            <div class="deco">
                <svg (click)="onLoggedout(deconnexion)" height="512pt" viewBox="1 0 511 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path transform="scale(-1,1) translate(-500,0)" d="m135.738281 361.070312c7.140625 8.425782 6.097657 21.046876-2.328125 28.1875-8.4375 7.148438-21.058594 6.085938-28.1875-2.328124l-100.007812-118c-6.378906-7.523438-6.191406-18.558594 0-25.859376l100.007812-118c7.140625-8.429687 19.761719-9.46875 28.1875-2.328124 8.425782 7.140624 9.46875 19.761718 2.328125 28.1875l-72.097656 85.070312h355.042969c11.046875 0 20.003906 8.953125 20.003906 20s-8.957031 20-20.003906 20h-355.042969zm356.761719-361.070312h-173.820312c-11.046876 0-20 8.953125-20 20s8.953124 20 20 20h153.816406v432h-153.816406c-11.046876 0-20 8.953125-20 20s8.953124 20 20 20h173.820312c11.042969 0 20-8.953125 20-20v-472c0-11.046875-8.957031-20-20-20zm0 0"/></svg>
                <!-- <img src="assets/images/deco.png" style="cursor: pointer; height: 65%;" > -->
            </div>
        </div>
        <li class="nav-item dropdown lang lang-mobile" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link nav-lang" ngbDropdownToggle>
                    <span class="flag-icon flag-icon-{{ translate.currentLang == 'en' ? 'gb' : 'fr'  }} flag-icon-squared flag-lang"></span><span style="font-size: 17px;"> {{ translate.currentLang | uppercase }}  <b class="caret"></b></span>
                </a>
                <div class="dropdown-menu-right sub-menu" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="changeLang('fr')">
                        <span class="flag-icon flag-icon-fr flag-icon-squared"></span> FR
                    </a>
                    <a class="dropdown-item" (click)="changeLang('en')">
                        <span class="flag-icon flag-icon-gb flag-icon-squared"></span> EN
                    </a>
                </div>
            </li>
    </div>
    <!-- <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button> -->
    <div class="collapse navbar-collapse last_conn">


        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}" >
        </form> -->
        <ul class="navbar-nav ml-auto" >
            <div class="user row">
                <div  style="display: flex; flex-direction: row; position: absolute; z-index: 100; padding-left: 8px">
                    <div style="z-index : 100;" class="image-cropper">
                        <img src="{{user.img_url.includes('https') ? user.img_url : 'assets/images/avatar.jpeg'}}" class="rounded-circle user-avatar" />

                        <!-- <img style="height: 70px" src="{{ client.img_url }}" alt="client avatar" class="img-thumbnail img-fluid"> -->
                    </div>
                    <!-- <div *ngIf="!user.img_url.includes('https')" style="z-index: 100; margin-top: 6px;">
                        <span class="rounded-circle user-avatar"><i class="fa fa-2x fa-user" style="color:#616161;"></i></span>
                    </div> -->
                    <div  class="avatar-users" *ngFor="let conn of last_conn;index as i">
                        <!-- <div *ngIf="i==0 && !last_conn[i].img_url.includes('https')">
                           <span *ngIf="i==0" (mouseover)="checkProfil1()" (mouseleave)="leaveProfil1()" class="rounded-circle user-avatar on-hover"><i class="fa-2x fa fa-user" style="color:#616161; margin-top: 6px;"></i></span>
                        </div> -->
                        <div *ngIf="i==0" class="image-cropper">
                            <img *ngIf="i==0" (mouseover)="checkProfil1()" (mouseleave)="leaveProfil1()" src="{{ ((last_conn[i].img_url != '' ? (last_conn[i].img_url.includes('https') ? last_conn[i].img_url : 'assets/images/avatar.jpeg') : 'assets/images/avatar.jpeg')) }}" class="rounded-circle user-avatar on-hover" alt="Cinque Terre">
                        </div>

                         <div *ngIf="hide_profil1 && i==0 && last_conn[i].last_connection != '/NaN/undefined/'" class="profil-user" (mouseleave)="leaveProfil1()">
                             <div class="nom">{{last_conn[i].prenom}} {{last_conn[i].nom}}</div>
                             <div class="connexion">{{ "Connexion le" | translate }} {{last_conn[i].last_connection}}</div>
                         </div>
                         <div *ngIf="hide_profil1 && i==0 && last_conn[i].last_connection == '/NaN/undefined'" class="profil-user" (mouseleave)="leaveProfil1()">
                             <div class="nom">{{last_conn[i].prenom}} {{last_conn[i].nom}}</div>
                             <div class="connexion">{{ "Pas encore connecté" | translate}}</div>
                         </div>
                         <!-- <div *ngIf="i==1 && !last_conn[i].img_url.includes('https')">
                           <span *ngIf="i==1" (mouseover)="checkProfil2()" (mouseleave)="leaveProfil2()" class="rounded-circle user-avatar on-hover"><i class="fa-2x fa fa-user" style="color:#616161;  margin-top: 6px;"></i></span>
                        </div> -->
                        <div *ngIf="i==1" class="image-cropper">
                            <img *ngIf="i==1" (mouseover)="checkProfil2()" (mouseleave)="leaveProfil2()" src="{{ ((last_conn[i].img_url != '' ? (last_conn[i].img_url.includes('https') ? last_conn[i].img_url : 'assets/images/avatar.jpeg') : 'assets/images/avatar.jpeg')) }}" class="rounded-circle user-avatar on-hover" alt="Cinque Terre">
                        </div>
                        <!-- *ngIf="hide_profil2 && i==1" class="profil-user" (mouseleave)="leaveProfil2()" -->
                         <div *ngIf="hide_profil2 && i==1 && last_conn[i].last_connection != '/NaN/undefined'" class="profil-user" (mouseleave)="leaveProfil2()">
                             <div class="nom">{{last_conn[i].prenom}} {{last_conn[i].nom}}</div>
                             <div class="connexion">{{ "Connexion le" | translate }} {{last_conn[i].last_connection}}</div>
                         </div>
                         <div *ngIf="hide_profil2 && i==1 && last_conn[i].last_connection == '/NaN/undefined'" class="profil-user" (mouseleave)="leaveProfil1()">
                             <div class="nom">{{last_conn[i].prenom}} {{last_conn[i].nom}}</div>
                             <div class="connexion">{{ "Pas encore connecté" | translate}}</div>
                         </div>


                        <!--  <div *ngIf="i==2 && !last_conn[i].img_url.includes('https')">
                           <span *ngIf="i==2" (mouseover)="checkProfil3()" (mouseleave)="leaveProfil3()" class="rounded-circle user-avatar on-hover"><i class="fa-2x fa fa-user" style="color:#616161;  margin-top: 6px;"></i></span>
                        </div> -->
                        <div *ngIf="i==2" class="image-cropper">
                            <img *ngIf="i==2" (mouseover)="checkProfil3()" (mouseleave)="leaveProfil3()" src="{{ ((last_conn[i].img_url != '' ? (last_conn[i].img_url.includes('https') ? last_conn[i].img_url : 'assets/images/avatar.jpeg') : 'assets/images/avatar.jpeg')) }}" class="rounded-circle user-avatar on-hover" alt="Cinque Terre">
                        </div>
                         <div *ngIf="hide_profil3 && i==2 && last_conn[i].last_connection != '/NaN/undefined'" class="profil-user" (mouseleave)="leaveProfil3()">
                             <div class="nom">{{last_conn[i].prenom}} {{last_conn[i].nom}}</div>
                             <div class="connexion">{{ "Connexion le" | translate }} {{last_conn[i].last_connection}}</div>
                         </div>
                         <div *ngIf="hide_profil3 && i==2 && last_conn[i].last_connection == '/NaN/undefined'" class="profil-user" (mouseleave)="leaveProfil1()">
                             <div class="nom">{{last_conn[i].prenom}} {{last_conn[i].nom}}</div>
                             <div class="connexion">{{ "Pas encore connecté" | translate}}</div>
                         </div>
                    </div>
                </div>
                <div  style="margin-left: 120px;">
                    <p class="username">{{ user.prenom + ' '+ user.nom }}</p>
                    <p class="user-function">{{ user.poste | slice:0:22 }}</p>
                </div>
                <div  style="margin-left: 10px;padding-top: 7px;margin-right: 12px;">
                    <svg  (click)="onLoggedout(deconnexion)"  width="17px" height="16px" viewBox="0 0 17 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
   
                        <g id="Maquettes" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="10.01-Home-Carte" transform="translate(-1188.000000, -32.000000)" fill="#131416">
                                <g id="04-Nav-/-Desk-Header">
                                    <g id="01-Icon-/-24-More" transform="translate(1184.000000, 28.000000)">
                                        <path fill="#616161" d="M7,6 L6,6 L6,18 L7,18 C7.55228475,18 8,18.4477153 8,19 C8,19.5522847 7.55228475,20 7,20 L5,20 C4.44771525,20 4,19.5522847 4,19 L4,5 C4,4.44771525 4.44771525,4 5,4 L7,4 C7.55228475,4 8,4.44771525 8,5 C8,5.55228475 7.55228475,6 7,6 Z M20.82,11.42 C21.0708853,11.7757581 21.0627974,12.2529484 20.8,12.6 L17.8,16.6 C17.6111456,16.8518058 17.3147573,17 17,17 C16.7836298,17 16.5730962,16.9298221 16.4,16.8 C16.1878268,16.6408701 16.0475578,16.4039723 16.0100505,16.1414214 C15.9725432,15.8788704 16.0408701,15.6121732 16.2,15.4 L18,13 L10,13 C9.44771525,13 9,12.5522847 9,12 C9,11.4477153 9.44771525,11 10,11 L18.09,11 L16.37,8.58 C16.2150095,8.3629079 16.1531749,8.09289119 16.1982446,7.82998479 C16.2433143,7.56707839 16.3915524,7.33307413 16.61,7.18 C17.0604485,6.86393305 17.6816174,6.97118524 18,7.42 L20.82,11.42 Z" id="Combined-Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                  <!--   <svg (click)="onLoggedout(deconnexion)"  viewBox="1 0 511 512" width="12pt" stroke="#616161" stroke-width="25" xmlns="http://www.w3.org/2000/svg"><path transform="scale(-1,1) translate(-500,0)" fill="#616161" d="m135.738281 361.070312c7.140625 8.425782 6.097657 21.046876-2.328125 28.1875-8.4375 7.148438-21.058594 6.085938-28.1875-2.328124l-100.007812-118c-6.378906-7.523438-6.191406-18.558594 0-25.859376l100.007812-118c7.140625-8.429687 19.761719-9.46875 28.1875-2.328124 8.425782 7.140624 9.46875 19.761718 2.328125 28.1875l-72.097656 85.070312h355.042969c11.046875 0 20.003906 8.953125 20.003906 20s-8.957031 20-20.003906 20h-355.042969zm356.761719-361.070312h-173.820312c-11.046876 0-20 8.953125-20 20s8.953124 20 20 20h153.816406v432h-153.816406c-11.046876 0-20 8.953125-20 20s8.953124 20 20 20h173.820312c11.042969 0 20-8.953125 20-20v-472c0-11.046875-8.957031-20-20-20zm0 0"/></svg>-->
                    <!-- <img src="assets/images/deco.png" style="cursor: pointer; height: 50%;" (click)="onLoggedout(deconnexion)"> -->
                </div>
            </div>




           <!--  <li class="nav-item d-none d-xl-block">
                <a
                    href="https://github.com/start-angular/SB-Admin-BS4-Angular-7/archive/master.zip"
                    class="nav-link btn mt-1" role="button"
                    style="padding: .375rem 1rem !important;border-color: #999;"
                >
                    {{ 'Download Now' | translate }}
                </a>
            </li> &nbsp; -->
           <!--  <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link mt-1"
                    style="padding: 0.375rem 1rem !important; border-color: #999;"
                    (click)="rltAndLtr()"
                >
                    RTL/LTR
                </a>
            </li> &nbsp; -->
          <!--   <li class="nav-item dropdown" ngbDropdown>
                <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
                    <i class="fa fa-envelope"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <ul class="dropdown-menu-right messages" ngbDropdownMenu>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg" alt="Generic placeholder image"
                        >
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                            alt="Generic placeholder image"
                        >
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                    <li class="media">
                        <img class="d-flex align-self-center mr-3"
                            src="http://i.huffpost.com/gadgets/slideshows/461162/slide_461162_6224974_sq50.jpg"
                            alt="Generic placeholder image"
                        />
                        <div class="media-body">
                            <h5 class="mt-0 mb-1">John Smith</h5>
                            <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                            <p class="last"> Lorem ipsum dolor sit amet, consectetur...</p>
                        </div>
                    </li>
                </ul>
            </li> -->
          <!--   <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-bell"></i> <b class="caret"></b><span class="sr-only">(current)</span>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'Pending Task' | translate }} <span class="badge badge-info">6</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'In queue' | translate }} <span class="badge badge-info"> 13</span>
                    </a>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'Mail' | translate }} <span class="badge badge-info"> 45</span>
                    </a>
                    <li class="dropdown-divider"></li>
                    <a href="javascript:void(0)" class="dropdown-item">
                        {{ 'View All' | translate }}
                    </a>
                </div>
            </li> -->
          <!--   <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-language"></i> {{ 'Language' | translate }} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('en')">
                        {{ 'English' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fr')">
                        {{ 'French' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('ur')">
                        {{ 'Urdu' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('es')">
                        {{ 'Spanish' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('it')">
                        {{ 'Italian' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('fa')">
                        {{ 'Farsi' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('de')">
                        {{ 'German' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)" (click)="changeLang('zh-CHS')">
                        {{ 'Simplified Chinese' | translate }}
                    </a>
                </div>
            </li> -->
            <li class="nav-item dropdown lang" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" style="margin-top: 4px;" ngbDropdownToggle>
                    <span class="flag-icon flag-icon-{{ translate.currentLang == 'en' ? 'gb' : 'fr'  }} flag-icon-squared"></span> {{ translate.currentLang | uppercase }}  <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" (click)="changeLang('fr')">
                        <span class="flag-icon flag-icon-fr flag-icon-squared"></span> FR
                    </a>
                    <a class="dropdown-item" (click)="changeLang('en')">
                        <span class="flag-icon flag-icon-gb flag-icon-squared"></span> EN
                    </a>
                </div>
            </li>

          <!--   <a class="slogan">
                <b>Amplify</b>Nature <br>
                A.I. for Ecology

            </a> -->
        </ul>
    </div>
</nav>

<ng-template #deconnexion let-c="close" let-d="dismiss" style="z-index: 9999999999999999">
    <div class="modal-header" style="display: none; z-index: 9999999999999999">

    </div>
    <div class="modal-body" style="padding: 2.7rem;">
        <h5 class="modal-title">{{ lang("Etes-vous sûre de vouloir vous déconnecter ?") }}</h5>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" class="fermer">&times;</span>
        </button>
        <p class="text-deco">{{"Vous vous Apprêter à être déconnecté de la plateforme," | translate}}</p>
        <p>{{"merci de confirmer la déconnexion." | translate}}</p>
        <div style="float:right;">
            <button class="btn" aria-label="Close" (click)="d('Cross click')" style="margin-right: 5px;color: #1b4f9d;">{{ "Annuler" | translate }}</button>
            <button class="btn btn-primary" (click)="d('Cross click')" style="background-color: #1b4f9d;" [routerLink]="['/login']">{{ "Se déconnecter" | translate }}</button>
        </div>
    </div>
</ng-template>
