<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}" *ngIf="!loading && !sideEnjeux">
    <div class="emetteur">
        <span id="fermer-toggle" (click)="toggleSidebar2()">&times;</span>
        <p class="sidebar-title">{{ lang("Emetteur") | uppercase }}</p>
        <div class="filter">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="allFluxFilter" (ngModelChange)="onFluxAllFilterChange($event)" ><label class="margin-zero">{{ lang("Tous émetteurs") | uppercase }}</label>
              </label>
            </div>

            <!-- <div class="form-check text-muted" *ngFor="let f of user.flux | slice:0:fluxLimit; index as i"> -->
            <div class="form-check text-muted" *ngFor="let f of user.flux ; index as i">
              <label class="form-check-label">

                <input type="checkbox" class="form-check-input"  (ngModelChange)="onFluxFilterChange($event)" [(ngModel)]="fluxFilter[i]"><label class="margin-zero"> <i class="fa fa-circle" [ngStyle]="fluxColor(user.flux[i])"></i>&nbsp;{{lang(user.flux[i].flux) | uppercase }}</label>

              </label>
            </div>

           <!--  <a class="action" (click)="toogleFluxLimit()">
                {{ fluxLimit != 3 ? '' : 'Tout afficher' | translate }} {{ fluxLimit == 3 ? '' : 'Afficher moins' | translate }} <i class="fa fa-angle-{{ fluxLimit == 3 ? 'down' : 'up' }}"></i>
            </a> -->


        </div>



    </div>

<!--     <div class="emetteur">
        <p class="sidebar-title">{{ lang("Performance du discours") | uppercase }}</p>
        <div class="filter">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" (ngModelChange)="onAllPerfFilterChange($event)" [(ngModel)]="allPerf"><label class="margin-zero"> {{ lang("Indifférent") }}</label>
              </label>
            </div>

            <div class="form-check text-muted">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" (ngModelChange)="onPerfFilterChange($event)" [(ngModel)]="perfFilter[4]"><label class="margin-zero"> <i class="fa fa-circle" [ngStyle]="styleLegend('Très Positif')" ></i>&nbsp;{{lang("Très Positif")}}</label>
              </label>
            </div>
            <div class="form-check text-muted">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" (ngModelChange)="onPerfFilterChange($event)" [(ngModel)]="perfFilter[3]"><label class="margin-zero"> <i class="fa fa-circle" [ngStyle]="styleLegend('encourageant')" ></i>&nbsp;{{lang("Encourageant")}}</label>
              </label>
            </div>
            <div class="form-check text-muted">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" (ngModelChange)="onPerfFilterChange($event)" [(ngModel)]="perfFilter[2]"><label class="margin-zero"> <i class="fa fa-circle" [ngStyle]="styleLegend('déceptif')" ></i>&nbsp;{{lang("Déceptif")}}</label>
              </label>
            </div>
            <div class="form-check text-muted">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" (ngModelChange)="onPerfFilterChange($event)" [(ngModel)]="perfFilter[1]"><label class="margin-zero"> <i class="fa fa-circle" [ngStyle]="styleLegend('Très Négatif')" ></i>&nbsp;{{lang("Très Négatif")}}</label>
              </label>
            </div>


        </div>



    </div> -->

    <div class="emetteur" >

        <p *ngIf="dateFilterToggle"><span class="dateFilterToggled sidebar-title" (click)="checkTimelapse()">{{"Timelapse" | translate }}</span><span (click)="checkYear()" class="date-label" style="color : #a7adb3;"> {{"Year" | translate }}</span> </p>

          <!-- <span>{{year_from}} - {{year_to}}</span></p> -->
        <p *ngIf="!dateFilterToggle"><span (click)="checkTimelapse()" class="date-label" style="color: #a7adb3;">{{"Timelapse" | translate }}</span><span class="dateFilterToggled" (click)="checkYear()"> {{ "Year" | translate }}</span></p>

          <!-- <span>{{yearFilter}}</span></p> -->
        <div class="filter" *ngIf="showSlider">
            <!-- <div class="form-group">
                <label class="has-float-label">

                  <select class="form-control on-focus select-float-label" id="sel1" [(ngModel)]="yearFilter" (ngModelChange)="onYearFilterChange($event)" >
                    <option value="all">{{lang("Indifférent")}}</option>
                    <option value="slider">Slider</option>
                    <option value="range">Range</option>
                    <option value="definie">{{lang("Période définie")}}</option>
                    <option *ngFor="let year of years" value="{{ year }}">{{ year }}</option>

                  </select>
                  <span>&nbsp;{{"Date" | translate}}</span>
                </label>
            </div>  -->

            <div class="input-group mb-3" *ngIf="showFilterDate">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{"du" | translate }}</span>
                </div>
                <input type="text" class="form-control" placeholder="MM" [(ngModel)]="month_from" (ngModelChange)="onDateFilterChange($event, 'month_from')">
                <input type="text" class="form-control" placeholder="AAAA" [(ngModel)]="year_from" (ngModelChange)="onDateFilterChange($event, 'year_from')">
            </div>

            <div class="input-group mb-3" *ngIf="showFilterDate">
                <div class="input-group-prepend">
                  <span class="input-group-text">{{"au" | translate}}</span>
                </div>
                <input type="text" class="form-control" placeholder="MM" (ngModelChange)="onDateFilterChange($event, 'month_to')" [(ngModel)]="month_to">
                <input type="text" class="form-control" placeholder="AAAA" (ngModelChange)="onDateFilterChange($event, 'year_to')" [(ngModel)]="year_to">
            </div>

            <div class="input-group mb-3 dateFilter" *ngIf="!dateFilterToggle">
              <ng5-slider [(value)]="value" [options]="options" (userChange)="dateSlideChange($event)"></ng5-slider>
            </div>

            <div class="input-group mb-3 dateFilterTimelapse" *ngIf="dateFilterToggle">
              <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options" (userChange)="dateRangeChange($event)"></ng5-slider>
            </div>
         <!--  <div *ngIf="dateFilterToggle"><span class="dateFilterToggled" (click)="checkTimelapse()">Timelapse</span><span (click)="checkYear()"> Year</span></div>
          <div *ngIf="!dateFilterToggle"><span (click)="checkTimelapse()">Timelapse</span><span class="dateFilterToggled" (click)="checkYear()"> Year</span></div> -->
        </div>



    </div>
    <div class="emetteur"></div>

<!--     <div class="emetteur localisation">
        <p class="sidebar-title">{{lang("Localisation") | uppercase}}</p>
        <div class="filter">
          <div class="form-group">



              <div class="custom-multiselect">
                <div class="selectBox" (click)="showCheckboxes()">
                  <label class="has-float-label">

                   <select class="form-control on-focus select-float-label">
                      <option><span style="padding-right:4px;">{{ lang(all_pays) }}</span><span *ngFor="let lp of liste_pays;last as isLast" style="padding-right:4px;">{{ lang(lp) }} {{ !isLast ? ',' : ''}}</span></option>

                   </select>
                   <span>&nbsp;{{lang("Localisation")}}</span>
                  </label>
                   <div class="selectWrapper"></div>
                </div>
              <div id="selectOptions" *ngIf="showCheck">
                  <div class="form-check">
                    <label class="singleOption">
                      <input class="form-check-input" type="checkbox" [(ngModel)]="allPaysFilter" (ngModelChange)="onAllPaysFilterChange($event)" ><label class="margin-zero">{{lang("Indifférent")}}</label>
                    </label>
                  </div>
                  <div class="form-check text-muted" *ngFor="let p of pays; index as i">
                    <label class="singleOption">
                      <input class="form-check-input" type="checkbox"(ngModelChange)="onNewPaysFilterChange($event,p)" [(ngModel)]="newpaysFilter[i]"><label class="margin-zero">{{ lang(p) }}</label>
                    </label>
                  </div>
                </div>
             </div>



        </div>
      </div>


    </div> -->



    <!-- <div class="emetteur keywords" id="mot-cle">

        <p class="sidebar-title">{{lang("Mots-clés") | uppercase }}</p>
        <div class="filter">
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="motEntree" (keyup.enter)="searchWord(motEntree)" placeholder="{{ lang('Recherche par mots clés') }}">
                <div class="input-group-append">
                  <span class="input-group-text"> <i class="fa fa-search"></i> </span>
                </div>
            </div>



        </div>
      <div *ngFor="let mot of mot_cle">
        <button type="button" class="btn cta-tag-icon" (click)="deleteMotCles(mot.key)">
          <span class="txt">{{ mot.mot }}</span><span class="badge badge-light croix">&times;</span>
        </button>

        <div class="cta-tag-icon">
          <span class="txt">{{ mot }}</span><span></span><span class="croix">&nbsp;&nbsp;x&nbsp;&nbsp;</span>
        </div>

      </div>

    </div> -->



   <!--   <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div> -->
</nav>


<nav class="sidebar add-enjeux" style="max-width: 370px;" id="ajout_enjeux" [ngClass]="{sidebarPushRight: isActive3, collapsed: collapsed3}" *ngIf="!loading && sideEnjeux">
  <div class="row enjeux-title" id="enjeux-web" role="alert">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-3 alert-button" (click)="closeEnjeux()">
       <svg  width="20px" height="16px" viewBox="0 0 20 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

              <g id="Maquettes" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="10.02-Carte-Selected-Item" transform="translate(-30.000000, -24.000000)" fill="#131416">
                      <g id="01-Icon-/-24-Arrow_Backward" transform="translate(24.000000, 16.000000)">
                          <path fill="#004FA3" d="M7.83333333,17.1420255 L21.67,17.1420255 L17.435,22.1244282 C17.0226274,22.6103944 17.0905309,23.3317898 17.5866667,23.7357098 C18.0828025,24.1396298 18.8192941,24.0731182 19.2316667,23.5871519 L25.065,16.7306344 C25.1042459,16.6760973 25.1393407,16.6188049 25.17,16.5592215 C25.17,16.5020839 25.2283333,16.4678013 25.2516667,16.4106636 C25.3045476,16.2796371 25.3322354,16.1401616 25.3333333,15.9992726 C25.3322354,15.8583835 25.3045476,15.7189081 25.2516667,15.5878815 C25.2516667,15.5307439 25.1933333,15.4964613 25.17,15.4393236 C25.1393407,15.3797402 25.1042459,15.3224478 25.065,15.2679107 L19.2316667,8.41139323 C19.0095841,8.15022837 18.6803376,7.9994502 18.3333333,8.00000218 C18.0607391,7.9994805 17.7965641,8.09247243 17.5866667,8.26283535 C17.348075,8.45658701 17.1979942,8.73536458 17.1695403,9.03765441 C17.1410863,9.33994424 17.2365979,9.64090095 17.435,9.87411696 L21.67,14.8565197 L7.83333333,14.8565197 C7.18900113,14.8565197 6.66666667,15.3681476 6.66666667,15.9992726 C6.66666667,16.6303976 7.18900113,17.1420255 7.83333333,17.1420255 Z" id="Path" transform="translate(16.000000, 16.000000) rotate(-180.000000) translate(-16.000000, -16.000000) "></path>
                      </g>
                  </g>
              </g>
          </svg>
    </div>
    <div class="col-sm-6">
      <h4 class="cta-15-ghost-button enjeu" style="font-size: 18px">{{lang("Enjeux")}}</h4>
    </div>
  </div>
  <div class="row enjeux-title" id="enjeux-mobile" role="alert">
    <div class="col-sm-12" (click)="closeEnjeux2()">
      <span style="font-weight: bold;font-size: 18px; margin-left:7px;">{{lang("Enjeux")}}</span><span style="float: right;font-size: 19px;">&times;</span>
    </div>
  </div>

  <div class="container" id="enjeuClient-mobile"  *ngIf="!loading">
    <h4 class="objectif-title">{{ lang("Objectifs") }}</h4>

    <div class="objectif row" style="margin-bottom: 10px;">



        <div class="col-md-3 col-sm-1 " *ngFor="let enj of client_enjeu; index as i">
            <div class="alert alert-primary row alert-objectif on-hover enjeu-{{ styleEnjeu(enj) }}" role="alert"  (mouseenter)="selectEnjeu(enj)">
              <div class="col-sm-2 alert-image" style="float: left">

                <img id="{{ enj.id }}" src="{{ enj.image_url }}" alt="{{ enj.picto_png }}" class="img-fluid img-enjeu">
                <!-- <img id="{{ enj.id }}" src="{{ (styleEnjeu(enj) == 'select') ? enj.image_blanc_url : enj.image_url }}" alt="{{ enj.picto_png }}" class="img-fluid img-enjeu"> -->
              </div>
              <!-- <div class="col-sm-8 alert-text" style="width: 65%; float: left;" (mouseenter)="overEnjeu(enj)" (mouseleave)="leaveEnjeu(enj)">
                <div class="alert-title"  (click)="selectEnjeu(enj)">{{ lang(enj.titre) | titlecase | slice:0:27  }}</div>
                <div class="alert-def"  (click)="selectEnjeu(enj)">{{ lang(enj.pre_def) | titlecase | slice:0:40 }}</div>
                <div class="alert-link"> {{lang("En savoir plus") }} <i  (click)="infoEnjeu(content, enj)" class="fa fa-arrow-right"></i></div>
              </div> -->
              <div class="col-sm-8 alert-text" style="width: 65%; float: left;" >
                <div class="alert-title" >{{ lang(enj.titre) | titlecase | slice:0:27  }}</div>
                <div class="alert-def"  >{{ lang(enj.pre_def) | titlecase | slice:0:20 }}</div>
                <div class="alert-link"> {{lang("En savoir plus") }} <i  (click)="infoEnjeu(content, enj)" class="fa fa-arrow-right"></i></div>
              </div>
              <div class="col-sm-2 alert-button fine-croix" style="float: left;width: 15%;" (click)="deleteEnjeuClient(enj.cle,enj)">
                <span *ngIf="styleEnjeu(enj) == 'primary'">x</span>
              </div>

            </div>
        </div>
    </div>

  </div>

  <div *ngFor="let enj of enjeux; index as i">

    <div class="alert row alert-objectif-add on-hover" id="web-list-enjeu" style="border: 1px solid #EAEAEA;margin: auto;" role="alert" *ngIf="checkEnjeu(enj.key,client_enjeu)">

      <div class="col-sm-2 alert-image">
        <!-- <div class="img-fluid" [onSVGLoaded]="handleSVG" [inlineSVG]="enj.image_url"></div> -->
        <img style="opacity: 0.4;" id="{{ enj.id }}" src="{{ enj.image_url }}" alt="{{ enj.picto_png }}" class="img-fluid img-enjeu">
      </div>
      <div class="col-sm-8 alert-text enbas">
        <div class="alert-title text-color">{{ lang(enj.titre) | titlecase | slice:0:27  }}</div>
        <div class="alert-def">{{ lang(enj.pre_def) | titlecase | slice:0:20 }}</div>
        <div class="alert-link text-color" (click)="infoEnjeu(content, enj)"> {{lang("En savoir plus") }} <i class="fa fa-arrow-right"></i></div>

      </div>
      <div class="col-sm-2 alert-button" (click)="addEnjeu(enj)">
        <i class="fa fa-plus icon-color"></i>
      </div>
    </div>
    <div class="alert row alert-objectif-add on-hover" id="mobile-list-enjeu" style="border: 1px solid #EAEAEA;margin: auto;" role="alert" *ngIf="checkEnjeu(enj.key,client_enjeu)">

      <div class="col-sm-2 alert-image" style="float: left;">
        <!-- <div class="img-fluid" [onSVGLoaded]="handleSVG" [inlineSVG]="enj.image_url"></div> -->
        <img style="opacity: 0.4;" id="{{ enj.id }}" src="{{ enj.image_url }}" alt="{{ enj.picto_png }}" class="img-fluid img-enjeu">
      </div>
      <div class="col-sm-8 alert-text enbas" style="width: 75%;float: left;">
        <div class="alert-title text-color">{{ lang(enj.titre) | titlecase | slice:0:27  }}</div>
        <div class="alert-def">{{ lang(enj.pre_def) | titlecase | slice:0:20 }}</div>
        <div class="alert-link text-color" (click)="infoEnjeu(content, enj)"> {{"En savoir plus" | translate }} <i class="fa fa-arrow-right"></i></div>

      </div>
      <div class="col-sm-2 alert-button" (click)="addEnjeu(enj)">
        <i class="fa fa-plus icon-color"></i>
      </div>
    </div>
  </div>

</nav>

<nav class="sidebar info-map" [ngClass]="{sidebarPushRight: isActive2, collapsed: collapsed2}" *ngIf="!loading && !sideEnjeux && csvPhrase.phrases && !isActive3" id="web-map">

    <div class="emetteur row">
        <div class="col-sm-1" style="padding-left: 8px; transform: translateY(-3px);">
            <!-- <i class="fa fa-arrow-left" style="color: #004FA3; cursor: pointer;" (click)="toggleCollapsed2()" ></i> -->
            <!-- <img src="assets/images/left-arrow.svg" style="color: #004FA3; cursor: pointer; width: 30px; height: 20px;
            transform: translateY(-7px)" (click)="toggleCollapsed2()" > -->
            <svg (click)="toggleCollapsed2()"  width="20px" height="16px" viewBox="0 0 20 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

              <g id="Maquettes" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="10.02-Carte-Selected-Item" transform="translate(-30.000000, -24.000000)" fill="#131416">
                      <g id="01-Icon-/-24-Arrow_Backward" transform="translate(24.000000, 16.000000)">
                          <path fill="#004FA3" d="M7.83333333,17.1420255 L21.67,17.1420255 L17.435,22.1244282 C17.0226274,22.6103944 17.0905309,23.3317898 17.5866667,23.7357098 C18.0828025,24.1396298 18.8192941,24.0731182 19.2316667,23.5871519 L25.065,16.7306344 C25.1042459,16.6760973 25.1393407,16.6188049 25.17,16.5592215 C25.17,16.5020839 25.2283333,16.4678013 25.2516667,16.4106636 C25.3045476,16.2796371 25.3322354,16.1401616 25.3333333,15.9992726 C25.3322354,15.8583835 25.3045476,15.7189081 25.2516667,15.5878815 C25.2516667,15.5307439 25.1933333,15.4964613 25.17,15.4393236 C25.1393407,15.3797402 25.1042459,15.3224478 25.065,15.2679107 L19.2316667,8.41139323 C19.0095841,8.15022837 18.6803376,7.9994502 18.3333333,8.00000218 C18.0607391,7.9994805 17.7965641,8.09247243 17.5866667,8.26283535 C17.348075,8.45658701 17.1979942,8.73536458 17.1695403,9.03765441 C17.1410863,9.33994424 17.2365979,9.64090095 17.435,9.87411696 L21.67,14.8565197 L7.83333333,14.8565197 C7.18900113,14.8565197 6.66666667,15.3681476 6.66666667,15.9992726 C6.66666667,16.6303976 7.18900113,17.1420255 7.83333333,17.1420255 Z" id="Path" transform="translate(16.000000, 16.000000) rotate(-180.000000) translate(-16.000000, -16.000000) "></path>
                      </g>
                  </g>
              </g>
          </svg>
        </div>
        <div class="col-sm-9">
            <div class="info-flux">
              <b>{{ csvPhrase.flux }} . </b> {{ csvPhrase.date }}
            </div>
            <div class="info-title">
              {{ csvPhrase['titre_'+translate.currentLang] }}
            </div>
            <div class="info-flux">
              {{ csvPhrase.auteur }}
            </div>
        </div>
        <div class="col-sm-1">
            <a *ngIf="csvPhrase.pdf_url && csvPhrase.pdf_url != undefined && csvPhrase.pdf_url != ''" href="{{ csvPhrase.pdf_url }}" target="_blank">
            <svg width="16px" height="17px" viewBox="0 0 16 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                <g id="Maquettes" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="10.02-Carte-Selected-Item" transform="translate(-409.000000, -35.000000)" fill="#131416">
                        <g id="01-Icon-/-24-Download" transform="translate(405.000000, 32.000000)">
                            <path fill="#004FA3" d="M11.0019222,12.0625129 C11.000647,12.0418389 11,12.020995 11,12 L11,4 C11,3.44771525 11.4477153,3 12,3 C12.5522847,3 13,3.44771525 13,4 L13,12 C13,12.002361 12.9999918,12.0047201 12.9999755,12.0070773 L15.4,10.2 C15.8418278,9.86862915 16.4686292,9.9581722 16.8,10.4 C17.1313708,10.8418278 17.0418278,11.4686292 16.6,11.8 L12.6,14.8 C12.4269038,14.9298221 12.2163702,15 12,15 C11.7926819,15.0015747 11.5899997,14.9386733 11.42,14.82 L7.42,12 C6.97118524,11.6816174 6.86393305,11.0604485 7.18,10.61 C7.33307413,10.3915524 7.56707839,10.2433143 7.82998479,10.1982446 C8.09289119,10.1531749 8.3629079,10.2150095 8.58,10.37 L11.0019222,12.0625129 Z M18,18 L18,17 C18,16.4477153 18.4477153,16 19,16 C19.5522847,16 20,16.4477153 20,17 L20,19 C20,19.5522847 19.5522847,20 19,20 L5,20 C4.44771525,20 4,19.5522847 4,19 L4,17 C4,16.4477153 4.44771525,16 5,16 C5.55228475,16 6,16.4477153 6,17 L6,18 L18,18 Z" id="Combined-Shape"></path>
                        </g>
                    </g>
                </g>
            </svg>
            </a>

            <!-- <i *ngIf="csvPhrase.pdf_url == ''" class="fa fa-download"></i> -->

        </div>

        <div class="col-sm-12" style="text-align: right;">
            <span class="csv-num">{{ csvPhrase.nom }}</span>
        </div>
        <div class="col-sm-11 offset-sm-1">
            <img *ngIf="csvPhrase.pdg_url &&  csvPhrase.pdg_url.includes('http')"  src="{{ csvPhrase.pdg_url }}" alt="{{ csvPhrase.pdg_nom }}" class="img-fluid" style="width: 20%">
        </div>
    </div>

<!--     <div class="legende">
            <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('Très Négatif')" ></i> <span class="legende-text"> {{lang("Très négatif")}}</span></span>
            <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('déceptif')" ></i> <span class="legende-text"> {{lang("Déceptif") }}</span></span>
            <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('encourageant')" ></i> <span class="legende-text"> {{lang("Encourageant") }}</span></span>

            <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('Très Positif')" ></i> <span class="legende-text"> {{lang("Très positif")}}</span> </span>

            <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('Objectif non traité')" ></i> <span class="legende-text"> {{ lang("Objectif non traité") }}</span> </span>



    </div> -->


    <div class="info-detail">


        <div class="row" style="margin-left: 2px;">
          <div class="col-sm-12 phrase" *ngIf="csvPhrase.phrases.length < 1" [ngStyle]="phraseStyle('-1')" style="margin-top: 20px;" >
            {{ csvPhrase.phrases.length > 0 ? "" : lang("Objectif non traité") }}
          </div>

          <div class="col-sm-12 phrase" [ngStyle]="phraseStyle(phrase.satisfaction)" *ngFor="let phrase of csvPhrase.phrases">
            “{{ phrase["phrase"] }}“
          </div>
        </div>



    </div>



</nav>

<nav class="sidebar info-map" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}" *ngIf="!loading && csvClick &&  csvPhrase.phrases " id="mobile-map" style="margin-left: 111px;max-width: 100%;}">

    <div class="emetteur row" (swipeleft)="deplace_left(csvPhrase)" (swiperight)="deplace_right(csvPhrase)">
        <div class="col-sm-1">
            <i class="fa fa-arrow-left" style="color: #004FA3; cursor: pointer;" (click)="toggleCollapsed2()" ></i>
        </div>
        <div class="col-sm-9">
            <div class="info-flux">
              <b>{{ csvPhrase.flux }} . </b> {{ csvPhrase.date }}
            </div>
            <div class="info-title">
              {{ csvPhrase['titre_'+translate.currentLang] }}
            </div>
        </div>
        <div class="col-sm-2">
            <a href="{{ csvPhrase.pdf_url != '' ? csvPhrase.pdf_url : '#' }}" target="_blank">
              <i class="fa fa-download" style="color: #004FA3; cursor: pointer;"></i>
            </a>
        </div>

    </div>

    <div class="info-detail" >
       <!--  <div class="legende">
            <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('Très Positif')" ></i> <span class="legende-text"> {{lang("Très positif")}}</span></span>
            <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('encourageant')" ></i> <span class="legende-text"> {{lang("Encourageant") }}</span></span>
            <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('déceptif')" ></i> <span class="legende-text"> {{lang("Déceptif") }}</span></span>
            <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('Très Négatif')" ></i> <span class="legende-text"> {{lang("Très négatif")}}</span></span>
        </div> -->

        <div class="row phrases">
          <div class="col-sm-12 phrase">
            {{ csvPhrase.phrases.length > 0 ? "" : lang("Objectif non traité") }}
          </div>
          <div class="col-sm-12 phrase" [ngStyle]="phraseStyle(phrase.satisfaction)" *ngFor="let phrase of csvPhrase.phrases">
            “{{ phrase["phrase"] }}“
          </div>
        </div>



    </div>



</nav>

<div class="container center-container">
    <div id="enjeuClient-web"  *ngIf="!loading">
      <h4 class="objectif-title">{{ lang("Objectifs") }}</h4>

      <div class="objectif row " style="margin-bottom: 0px; margin-left: 0;">

          <div class="col-md-3 col-lg-3 enjeu-col " *ngFor="let enj of client_enjeu; index as i">

              <!-- <div class="alert alert-{{ styleEnjeu(enj) }} row alert-objectif on-hover" role="alert"> -->
              <div class="alert alert-primary row alert-objectif on-hover enjeu-{{ styleEnjeu(enj) }}" role="alert" (mouseenter)="selectEnjeu(enj)">
                <div class="col-sm-2 alert-image">

                  <img id="{{ enj.id }}" src="{{ enj.image_url }}" alt="{{ enj.picto_png }}" class="img-fluid img-enjeu-center">
                  <!-- <img id="{{ enj.id }}" src="{{ (styleEnjeu(enj) == 'select') ? enj.image_blanc_url : enj.image_url }}" alt="{{ enj.picto_png }}" class="img-fluid img-enjeu"> -->
                </div>
                <!-- <div class="col-sm-8 alert-text" style="padding-right: 0;display: block;overflow: hidden;" (mouseenter)="overEnjeu(enj)" (mouseleave)="leaveEnjeu(enj)">
                  <div class="alert-title"  (click)="selectEnjeu(enj)">{{ lang(enj.titre) | titlecase | slice:0:27 }}</div>
                  <div class="alert-def" style="display: block;"  (click)="selectEnjeu(enj)">{{ lang(enj.pre_def) | titlecase | slice:0:40 }}</div>
                  <div class="alert-link"> {{lang("En savoir plus") }} <i class="fa fa-arrow-right" (click)="infoEnjeu(content, enj)"></i></div>
                </div> -->

                <div class="col-sm-8 alert-text" style="padding-right: 0;display: block;overflow: hidden;" >
                  <div class="alert-title"  >{{ lang(enj.titre) | titlecase | slice:0:27 }}</div>
                  <div class="alert-def" style="display: block;" >{{ lang(enj.pre_def) | titlecase | slice:0:20 }}</div>
                  <div class="alert-link"> {{lang("En savoir plus") }} <i class="fa fa-arrow-right" (click)="infoEnjeu(content, enj)"></i></div>
                </div>
                <div class="col-sm-2 alert-button fine-croix" (click)="deleteEnjeuClient(enj.cle,enj)">
                 <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 212.982 212.982" style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve" style="width: 34%; position: relative; left: 8px; bottom: 3px">
                <g id="Close">
                  <path fill="#616161" style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
                    c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
                    l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
                    c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z"/>
                </g>

                </svg>
                </div>

              </div>
          </div>
          <div class="col-md-3 col-lg-3 enjeu-col">
              <div *ngIf="countEnjeu<16" class=" alert row alert-objectif" style="border: 1px solid #EAEAEA;" role="alert">
                <div class="col-sm-1">


            </div>
            <div class="col-sm-1 icon-color" style="padding-top: 18px ; padding-left: 0px; padding-right: 0px;" (click)="sideEnjeu()">
              <i class="fa fa-plus"></i>
            </div>
            <div class="col-sm-6 alert-text ajouter-enjeu" style="padding-top: 19px; padding-left: 10px; font-size: 15px; padding-right: 0px;color: #616161;" (click)="sideEnjeu()">
              <div>{{"Ajouter Enjeux" | translate }}</div>
            </div>
            <div class="col-sm-2 alert-button icon-color ajout">
              {{ countEnjeu }}/16
            </div>


              </div>
          </div>


      </div>

    </div>

    <div class="container mobile-button">
      <button id="filtrer" class="btn" (click)="toggleSidebar2()"><img style="padding-right: 6px;" src="assets/images/filtre.png" style="padding-bottom: 5px;">{{"Filtrer" | translate}}</button>
      <button id="obj" class="btn" (click)="toggleCollapsed3()"><img style="padding-right: 6px;" src="assets/images/objectif.png" style="padding-bottom: 5px;">{{lang("Objectifs") }}</button>
    </div>

    <div class="map-chart {{!hide_graph ? 'bordered' : '' }}" *ngIf="!loadingMap && !sideEnjeux" style="height: 30%;overflow-y: hidden;position: relative;">
      <div class="float-right img-chart-button" style="top: 12px; right: 13px; padding-top: 10px; padding-right: 14px; position: relative; z-index: 99;" [hidden]="!hide_map" (click)="selectTab('map')">


         <!--  <button class="chart-button {{ mapToogle ? 'selected' : '' }}" [hidden]="!hide_map" (click)="selectTab('map')"> <i class="fa fa-map" style="padding-right: 6px;"></i>{{ lang("Carte") }}</button>
         <button class="chart-button {{ mapToogle ? '' : 'selected' }}" [hidden]="!hide_graph" (click)="selectTab('chart')">i class="fa fa-pie-chart fa-border"></i<img style="padding-right: 6px;" src="assets/images/graph.png"><span>{{lang("Graphique")}}</span></button>
          -->
      </div>
      <div class="float-right img-graphique-button" style="top: 12px; right: 26px; padding-top: 10px; padding-right: 14px; position: relative; z-index: 99;" [hidden]="!hide_graph" (click)="selectTab('chart')">


         <!--  <button class="chart-button {{ mapToogle ? 'selected' : '' }}" [hidden]="!hide_map" (click)="selectTab('map')"> <i class="fa fa-map" style="padding-right: 6px;"></i>{{ lang("Carte") }}</button>
         <button class="chart-button {{ mapToogle ? '' : 'selected' }}" [hidden]="!hide_graph" (click)="selectTab('chart')">i class="fa fa-pie-chart fa-border"></i<img style="padding-right: 6px;" src="assets/images/graph.png"><span>{{lang("Graphique")}}</span></button>
          -->
      </div>

      <mgl-map
        style="height: 300px;top: -50px;"
       *ngIf="mapToogle"
          [style]="'mapbox://styles/mapbox/light-v10'"
          [zoom]="[1]"
          [center]="[-74.50, 40]"
        >

         <mgl-marker
           [lngLat]="[csv.lat, csv.long]" *ngFor="let csv of csvPhrasesFiltered; index as i "

       >

            <svg  id="web-csv" *ngIf="csv" [ngStyle]="makerStyle(csv)" (mouseover)="selectCsvPhrase(csv)" xmlns="http://www.w3.org/2000/svg" attr.height="{{ (csv.nom == csvSelected) ? 40 : 24 }}px" attr.width="{{ (csv.nom == csvSelected) ? 40 : 24 }}px"viewBox="0 0 24 24"><path d="M12 2c3.86 0 7 3.14 7 7 0 5.25-7 13-7 13S5 14.25 5 9c0-3.86 3.14-7 7-7zm-1.53 12L17 7.41 "/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
            <svg  id="mobile-csv" *ngIf="csv" [ngStyle]="makerStyle(csv)" (click)="selectCsvPhrase2(csv)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2c3.86 0 7 3.14 7 7 0 5.25-7 13-7 13S5 14.25 5 9c0-3.86 3.14-7 7-7zm-1.53 12L17 7.41 "/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
           <!-- <i *ngIf="csv" [ngStyle]="makerStyle(csv)" (mouseover)="selectCsvPhrase(csv)" class="fa fa-map-marker fa-2x" aria-hidden="true"></i> -->


         </mgl-marker>
      </mgl-map>

      <div *ngIf="!mapToogle && !loadingMap" id="position-graph">
        <div (chartMouseOver)="onChartEvent($event, 'chartClick')"  echarts [options]="chartOptions" class="demo-chart" style="position: relative; z-index: 9;">

        </div>
        <div class="performance-discours" style="position: relative;top: -300px;">
          <div class="performance-discours-content" style="width: 180px;position: relative;left: 65%;">

                <span class="legende-text"> {{ lang("Performance du discours") | uppercase }} </span><br>
                <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('très positif')" ></i> <span class="legende-text"> {{ lang("Très positif") }}</span> </span><br>
                <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('encourageant')" ></i> <span class="legende-text"> {{ lang("Encourageant") }}</span> </span><br>
                <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('déceptif')" ></i> <span class="legende-text"> {{ lang("Déceptif") }}</span> </span><br>
                <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('Très Négatif')" ></i> <span class="legende-text"> {{ lang("Très négatif") }}</span> </span><br>
                <span class="legende-one"><i class="fa fa-circle" [ngStyle]="styleLegend('Objectif non traité')" ></i> <span class="legende-text"> {{ lang("Objectif non traité") }}</span> </span><br>




          </div>

        </div>
      </div>



    </div>
</div>
<!-- enjeu bottom -->
<div class="container center-container" *ngIf="!loadingMap && sideEnjeux">
  <div class="row enjeux-title" id="enjeux-web" role="alert">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-3 alert-button" (click)="closeEnjeux()">
       <svg  width="20px" height="16px" viewBox="0 0 20 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

              <g id="Maquettes" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="10.02-Carte-Selected-Item" transform="translate(-30.000000, -24.000000)" fill="#131416">
                      <g id="01-Icon-/-24-Arrow_Backward" transform="translate(24.000000, 16.000000)">
                          <path fill="#004FA3" d="M7.83333333,17.1420255 L21.67,17.1420255 L17.435,22.1244282 C17.0226274,22.6103944 17.0905309,23.3317898 17.5866667,23.7357098 C18.0828025,24.1396298 18.8192941,24.0731182 19.2316667,23.5871519 L25.065,16.7306344 C25.1042459,16.6760973 25.1393407,16.6188049 25.17,16.5592215 C25.17,16.5020839 25.2283333,16.4678013 25.2516667,16.4106636 C25.3045476,16.2796371 25.3322354,16.1401616 25.3333333,15.9992726 C25.3322354,15.8583835 25.3045476,15.7189081 25.2516667,15.5878815 C25.2516667,15.5307439 25.1933333,15.4964613 25.17,15.4393236 C25.1393407,15.3797402 25.1042459,15.3224478 25.065,15.2679107 L19.2316667,8.41139323 C19.0095841,8.15022837 18.6803376,7.9994502 18.3333333,8.00000218 C18.0607391,7.9994805 17.7965641,8.09247243 17.5866667,8.26283535 C17.348075,8.45658701 17.1979942,8.73536458 17.1695403,9.03765441 C17.1410863,9.33994424 17.2365979,9.64090095 17.435,9.87411696 L21.67,14.8565197 L7.83333333,14.8565197 C7.18900113,14.8565197 6.66666667,15.3681476 6.66666667,15.9992726 C6.66666667,16.6303976 7.18900113,17.1420255 7.83333333,17.1420255 Z" id="Path" transform="translate(16.000000, 16.000000) rotate(-180.000000) translate(-16.000000, -16.000000) "></path>
                      </g>
                  </g>
              </g>
          </svg>
    </div>
    <div class="col-sm-6">
      <h4 class="cta-15-ghost-button enjeu" style="font-size: 18px">{{lang("Enjeux")}}</h4>
    </div>
  </div>
  <div class="row">
  <div class="col-md-3 col-lg-3 enjeu-col" *ngFor="let enj of enjeux; index as i">
    <div class="alert alert-primary row alert-objectif on-hover enjeu-{{ styleEnjeu(enj) }}" role="alert" (mouseenter)="selectEnjeu(enj)">
      <div class="col-sm-2 alert-image">

        <img id="{{ enj.id }}" src="{{ enj.image_url }}" alt="{{ enj.picto_png }}" class="img-fluid img-enjeu">
        <!-- <img id="{{ enj.id }}" src="{{ (styleEnjeu(enj) == 'select') ? enj.image_blanc_url : enj.image_url }}" alt="{{ enj.picto_png }}" class="img-fluid img-enjeu"> -->
      </div>
      <!-- <div class="col-sm-8 alert-text" style="padding-right: 0;display: block;overflow: hidden;" (mouseenter)="overEnjeu(enj)" (mouseleave)="leaveEnjeu(enj)">
        <div class="alert-title"  (click)="selectEnjeu(enj)">{{ lang(enj.titre) | titlecase | slice:0:27 }}</div>
        <div class="alert-def" style="display: block;"  (click)="selectEnjeu(enj)">{{ lang(enj.pre_def) | titlecase | slice:0:40 }}</div>
        <div class="alert-link"> {{lang("En savoir plus") }} <i class="fa fa-arrow-right" (click)="infoEnjeu(content, enj)"></i></div>
      </div> -->

      <div class="col-sm-8 alert-text" style="padding-right: 0;display: block;overflow: hidden;" >
        <div class="alert-title"  >{{ lang(enj.titre) | titlecase | slice:0:27 }}</div>
        <div class="alert-def" style="display: block;" >{{ lang(enj.pre_def) | titlecase | slice:0:20 }}</div>
        <div class="alert-link"> {{lang("En savoir plus") }} <i class="fa fa-arrow-right" (click)="infoEnjeu(content, enj)"></i></div>
      </div>
      <div class="col-sm-2 alert-button fine-croix" (click)="deleteEnjeuClient(enj.cle,enj)">
       <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 212.982 212.982" style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve" style="width: 34%; position: relative; left: 8px; bottom: 3px">
      <g id="Close">
        <path fill="#616161" style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312
          c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312
          l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937
          c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z"/>
      </g>

      </svg>
      </div>

    </div>
  </div>
</div>
</div>
    

<ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header" style="display: none;">

                    </div>
                    <div class="modal-body" style="padding: 2.7rem;">
                        <h4 class="modal-title"><img style="opacity: 0.5" id="{{ enjeuInfo.id }}" src="{{ enjeuInfo.image_url }}" alt="{{ enjeuInfo.picto_png }}" class="img-fluid">  {{ lang(enjeuInfo.titre) | titlecase }}</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                            <span aria-hidden="true" style="margin-top: -79px;float: right;">&times;</span>
                        </button>
                        <p>{{ lang(enjeuInfo.pre_def) }}</p>
                        <p>{{ lang(enjeuInfo.def) }}</p>

                    </div>
                 <!--    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{"Fermer" | translate}}</button>
                    </div> -->
</ng-template>

<div class="loading" *ngIf="loading">
    <ngx-loading  [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
</div>

<!-- <style type="text/css">

  .main-container{
      {{ loading ? "margin-left: 0px !important; " :  "" }}
  }
</style> -->
