<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">

    <div class="emetteur">
        <p class="sidebar-title">EMETEUR</p>
        <div class="filter">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value=""> Tous émetteurs
              </label>
            </div>

            <div class="form-check text-muted">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value=""> <i class="fa fa-circle" style="color: #EE2B26; font-size: 0.8em"></i> PIRELLI
              </label>
            </div>
            <div class="form-check text-muted">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value=""> <i class="fa fa-circle" style="color: #000000; font-size: 0.8em"></i> WWF
              </label>
            </div>
            <div class="form-check text-muted">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value=""> <i class="fa fa-circle" style="color: #0255A4; font-size: 0.8em"></i> GOODYEAR
              </label>
            </div>

            <a class="action">
                Tout afficher <i class="fa fa-angle-down"></i>
            </a>


        </div>

            

    </div>

    <div class="emetteur">
        <p class="sidebar-title">PERFORMANCE DU DISCOURS</p>
        <div class="filter">
            <div class="form-check">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value=""> Indifférent
              </label>
            </div>

            <div class="form-check text-muted">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value=""> <i class="fa fa-circle" style="color: #4B830D; font-size: 0.8em"></i> Très positif
              </label>
            </div>
            <div class="form-check text-muted">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value=""> <i class="fa fa-circle" style="color: #7CB342; font-size: 0.8em"></i> Encourageant
              </label>
            </div>
            <div class="form-check text-muted">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value=""> <i class="fa fa-circle" style="color: #AEE571; font-size: 0.8em"></i> Déceptif
              </label>
            </div>
            <div class="form-check text-muted">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value=""> <i class="fa fa-circle" style="color: #D8F0BC; font-size: 0.8em"></i> Très négatif
              </label>
            </div>


        </div>
    
            

    </div>

    <div class="emetteur">
        <p class="sidebar-title">Date</p>
        <div class="filter">
            <div class="form-group">
              <!-- <label for="sel1">Période définie :</label> -->
                <label class="has-float-label">

                  <select class="form-control" id="sel1">
                    <option>2018</option>
                    <option>2017</option>
                   
                  </select>
                  <span>Date définie</span>
                </label>
            </div> 

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">du</span>
                </div>
                <input type="text" class="form-control" placeholder="MM">
                <input type="text" class="form-control" placeholder="AAAA">
            </div>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">au</span>
                </div>
                <input type="text" class="form-control" placeholder="MM">
                <input type="text" class="form-control" placeholder="AAAA">
            </div>



        </div>
    
            

    </div>

    <div class="emetteur">
        <p class="sidebar-title">LOCALISATION</p>
        <div class="filter">
            <div class="form-group">
              <!-- <label for="sel1">Période définie :</label> -->
                <label class="has-float-label">

                  <select class="form-control" id="sel1">
                    <option>France, USA</option>
                    <option>2017</option>
                   
                  </select>
                  <span>Localisation</span>
                </label>
            </div> 

          

        </div>
    
            

    </div>

    <div class="emetteur">
        <p class="sidebar-title">MOTS-CLES</p>
        <div class="filter">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Rechercher par mots-clés">
                <div class="input-group-append">
                  <span class="input-group-text"> <i class="fa fa-search"></i> </span>
                </div>
            </div>

          

        </div>
    
            

    </div>
    <!-- <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard' | translate }}</span>
        </a>
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;
            <span>{{ 'Charts' | translate }}</span>
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;
            <span>{{ 'Tables' | translate }}</span>
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;
            <span>{{ 'Forms' | translate }}</span>
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;
            <span>{{ 'Bootstrap Element' | translate }}</span>
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;
            <span>{{ 'Bootstrap Grid' | translate }}</span>
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;
            <span>{{ 'Component' | translate }}</span>
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <i class="fa fa-plus"></i>&nbsp;
                <span>{{ 'Menu' | translate }}</span>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="fa fa-monument"></i>&nbsp;
                            <span>{{ 'Submenu' | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>
        <a [routerLink]="['/blank-page']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-file-o"></i>&nbsp;
            <span>{{ 'Blank Page' | translate }}</span>
        </a>
        <a href="http://www.strapui.com/" class="list-group-item">
            <i class="fa fa-caret-down"></i>&nbsp;
            <span>{{ 'More Themes' | translate }}</span>
        </a>

        <div class="header-fields">
            <a (click)="rltAndLtr()" class="list-group-item">
                <span><i class="fa fa-arrows-h"></i>&nbsp; RTL/LTR</span>
            </a>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('languages')">
                    <span><i class="fa fa-language"></i>&nbsp; {{ 'Language' | translate }} <b class="caret"></b></span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'languages'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('en')">
                                {{ 'English' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fr')">
                                {{ 'French' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('ur')">
                                {{ 'Urdu' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('es')">
                                {{ 'Spanish' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('it')">
                                {{ 'Italian' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('fa')">
                                {{ 'Farsi' | translate }}
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" (click)="changeLang('de')">
                                {{ 'German' | translate }}
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="nested-menu">
                <a class="list-group-item" (click)="addExpandClass('profile')">
                    <span><i class="fa fa-user"></i>&nbsp; John Smith</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'profile'">
                    <ul class="submenu">
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span><i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}</span>
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/login']" (click)="onLoggedout()">
                                <span><i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar' | translate }}</span>
    </div> -->
</nav>
